<div class="produtos-root">
    <div class="topbar">
        <h2>Catálogo</h2>
    </div>

    @if (loading()) {
        <div class="loading">Carregando produtos...</div>
    }

    @if (error()) {
        <div class="error-box">
            <p class="error-msg">{{ error() }}</p>
            <button (click)="loadProdutos()">Tentar novamente</button>
        </div>
    }

	<button type="button" [routerLink]="['/carrinho']" class="carrinho-badge" (click)="toggleCarrinho()">
    <span>Carrinho</span>
    <strong>{{ quantidadeTotal() }}</strong>
  </button>

    @if (!loading() && !error()) {
        <div class="grid">
            @for (p of produtos(); track p.id) {
                <div class="card">
                    <img [src]="p.foto" [alt]="p.nome" />
                    <div class="content">
                        <h3>{{ p.nome }}</h3>
                        <p class="marca">{{ p.marca }}</p>
                        <p class="desc">{{ p.descricao }}</p>
                        <div class="price-row">
                            <p class="price">R$ {{ p.preco | number:'1.2-2' }}</p>
                        </div>
                        <a [routerLink]="['/produtos', p.id]" class="detalhe">Ver detalhes</a>
                    </div>
                </div>
            }
        </div>
    }
</div>
